---
layout: default
title: Home
cover: true
about: 'about.html'
isEvent: false
next_event: 30/06 ás 09hrs
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
      {% if page.logo %}
          <a class="blog-logo" href="{{ site.baseurl }}">
              <img src="{{ page.logo }}" alt="Blog Logo" />
          </a>
      {% endif %}
    </nav>
    <!-- <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}
                {% if page.about %} <a href='{{page.about | relative_url}}'> About me </a> {% endif %}
            </h2>
        </div>
    </div> -->

    <div class="banner-initial">
      <div class="wrapper-banner-initial">
        <div class="description-banner">
          <h2>Jampa <b>Ruby</b></h2>
          <p>{{site.description}}</p>
        </div>
        <div class="next-event">
          <div class="wrapper-next-event">
            {% if page.isEvent %}
              <b>🗓️ Próximo encontro:</b>
              <h2>{{page.next_event}}</h2>
              {% assign latest_post = site.posts.first %}
              <a href="{{ latest_post.url }}">Clicke aqui e saiba mais</a>
            {% else %}
              <h2 id="title-not-defined">Estamos organizando o proximo encontro!</h2>
              <b id="desc-not-defined">Fique de olho nas redes sociais para saber mais 😉</b>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">
  <h1>Encontros realizados!</h1>
  <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url | relative_url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time> 
        </footer>
    </article>

    {% endfor %}

    {% include pagination.html %}

</main>
